.main{
    width: 100%;
    float: left;
    position: relative;
}

.report{
    width: 600px;
    position: relative;
    float: left;
}

.report .highlight{
    color: #ff0000;
    font-size: 18px;
}

table{
    float: left;
    width: 600px;
    clear: both;
}
table th{
    background: #f0f0f0;
}

table th.green{
    background: #00ff00;
}

#form-table input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

#form-table input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.chart{
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
}